.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .cardHeader {
    h2 {
      font-size: 16px;
    }
  }

  .recentCustomers {
    overflow-x: auto;
  }
}
