.navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;

  ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li{
      position: relative;
      width: 100%;
      list-style: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      cursor: pointer;

      a{
        position: relative;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: var(--white);

        .icon{
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 70px;
          text-align: center;

          ion-icon{
            font-size: 1.75rem;
          }
        }

        .title{
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
        }
      }

    }
    li:hover, .hovered{
      background: var(--white);

      a{
        color: var(--blue);
      }
      a::before{
        content: '';
        position: absolute;
        right:0;
        top: -50px;
        width: 50px;
        height: 50px;
        background:transparent;
        border-radius: 50%;
        box-shadow: 35px 35px 0 10px var(--white);
        pointer-events: none;
      }
      a::after{
        content: '';
        position: absolute;
        right:0;
        bottom: -50px;
        width: 50px;
        height: 50px;
        background:transparent;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px var(--white);
        pointer-events: none;
      }
    }

    li:nth-child(1){
      margin-bottom: 40px;
      pointer-events: none;
    }
  }
}

.navigation.active{
  width: 80px;
}

@media (max-width: 991px) {
  .navigation{
    left: -300px;
  }
  .navigation.active{
    width: 300px;
    left: 0;
  }
}

@media (max-width: 480px) {
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active{
    width: 100%;
    left: 0;
  }
}